<%- include('partials/header-limited') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    <div class="mx-auto d-flex align-items-center justify-content-center" style="height: 52vh;">
        <img src="https://i.ibb.co/wppVsMq/road-to-recovery.png" class="img-fluid"
    
    alt="a road with journey written on it">
    </div>
    
   
</main>
    

<%- include('partials/footer') -%>