<%- include('partials/header-limited') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    <div>
        <img src="https://ibb.co/r55Ys4h" class=" img-fluid" alt="a road with journey written on it">
    </div>
    <div>
        <img src="C:\Users\sethd\Desktop\Coding\Projects\Rehab-Journey\public\imgs\road-to-recovery.png" class="rounded mx-auto d-block  img-fluid" alt="a road with journey written on it">
    </div>
    <div>
        <img src="https://via.placeholder.com/150" class="rounded mx-auto d-block  img-fluid" alt="a road with journey written on it">
    </div>
</main>
    

<%- include('partials/footer') -%>